############
# Binaries #
############
bin/
obj/

#############################
# Specific to Visual Studio #
#############################
.vs/
.user
ThanosHarion/Core/Roles/TimeRole.cs
ThanosHarion/Core/Roles/SpaceRole.cs
ThanosHarion/Core/Roles/RealityRole.cs
ThanosHarion/Core/Roles/PowerRole.cs
ThanosHarion/Core/Roles/MindRole.cs
